<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Errores</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/shared/errores.css') }}">
</head>
<body>
    <div class="container">
         <div class="error-card">
             <h1 class="error-codigo">{{ titulo }}</h1>
             <p class="error-descripcion">{{ descripcion }}</p>

           <!--  <img src="{{ url_for('static', filename='img/shared/logoabiertosinfondo.png') }}" alt="Error"> -->
         </div>
         
    </div>
</body>
</html>